.header {
    background-color: slategray;
    margin: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: navy;
    text-align: center;
}
.title {
    background-color: olivedrab;
    padding-left: 10px;
    padding-bottom: 10px;
    color: papayawhip;
    text-align: center;
}
.content {
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    justify-content: center;
    padding-left: 30px;
}

.singlePost {
    width: 25%;
    border: solid black;
    border-radius: 10px;
    box-shadow: 5px 10px 10px;
    margin: 10px;
    padding-left:5px;
    padding-right: 5px;
    background-color: burlywood;
}
.price {
    align-content: flex-end;
}
.messageR {
    border: solid black;
    margin:10px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 5px 5px;
    width: 40%;
}
.messageS {
    border: solid black;
    margin:10px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 5px 5px;
    width: 40%;
}